<header class="header">
  <div class="container header__container">
    <img class="header__logo" src="./img/logo.svg" alt="Logo" />
    <nav class="nav" title="Main Navigation" data-menu>
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Home</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>About</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Contact</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Blog</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Careers</a>
        </li>
      </ul>
    </nav>
    <button class="btn-reset header__btn">Request Invite</button>
    <button
      class="burger btn-reset"
      aria-label="Open menu"
      aria-expanded="false"
      data-burger
    >
      <img src="./img/burger.svg" alt="Burger" />
    </button>
  </div>
</header>
<div class="overlay" data-menu-overlay></div>
