<section class="hero">
  <div class="container hero__container grid">
    <div class="hero__content">
      <h1 class="hero__title">Next generation digital banking</h1>
      <div class="hero__descr">
        Take your financial life online. Your Easybank account will be a
        one-stop-shop for spending, saving, budgeting, investing, and much more.
      </div>
      <button class="hero__btn btn-reset">Request Invite</button>
    </div>
    <div class="hero__img">
      <img class="hero__img-desktop" src="./img/hero.png" alt="hero image" />
      <img
        class="hero__img-mobile"
        src="./img/hero-mobile.png"
        alt="hero image"
      />
    </div>
  </div>
</section>
